.TextArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.TextField {
	width: 100%;
}
.EmojiIconContainer {
	position: relative;
}


@media screen and (max-width : 600px) {
  .TextArea {
    padding-bottom: 10px;
  }
}