.TextArea {
  display: flex;
  align-items: center;
	justify-content: center;
}

.TextField {
	width: 70%;
}
.EmojiIconContainer {
	position: relative;
}


@media screen and (max-width : 600px) {
	.TextField {
		width: 65%;
  }
  .IconButton {
    padding: 4px !important;
  }
  .Icon {
    font-size: 1rem !important;
  }
}