.Avatar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.MessageBlock {
	display: flex;
	flex-direction: column;
}


.LeftMessage {
	max-width: 40vw;
	display: flex;
	margin-left: 5vw;
}
.LeftHeader {
	text-align: start;
	margin-left: 20px;
	font-weight: 100;
	font-size: 0.7em;
}
.LeftContent {
	background-color: white;
	border: 1px solid #f1f3f4;
	border-radius: 0px 10px 10px 10px;
	white-space: pre-wrap;
}


.RightMessage {
	max-width: 40vw;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end; 
	margin-right: 5vw;
}
.RightContent{
	background-color:#1976d2;
	border-radius: 10px 0px 10px 10px;
	color: white;
}
.RightHeader {
	text-align: end;
	margin-right: 10px;
	font-weight: 100;
	font-size: 0.7em;
}
.LeftContent, .RightContent {
	word-wrap: break-word;
	max-width: 30vw;
	padding: 5px;
	margin:5px;
}


@media screen and (max-width : 500px) {
	.Avatar {
		width: 40px;
		height: 40px;
	}
	.LeftMessage, .RightMessage {
		max-width: 60vw;
	}
	.LeftContent, .RightContent {
		max-width: 50vw;
	}
}