.Container {
	background-color: #f1f3f4;
}

.Dialog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85vh;
}
.DialogField {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 0 auto;
	padding: 20px;
	width: 60vw;
	overflow-y: scroll;
}

.Progress {
	margin: 0 auto;
}