.Container {
	background-color: #f1f3f4;
}

.Dialog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85vh;
}
.DialogField {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 0 auto;
	width: 90%;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.Progress {
	margin: 0 auto;
}

@media screen and (max-width : 500px) {
	.DialogField {
		width: 100%;
	}
}
/* .microfon-icon {
	background-color: #ccc;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 1rem;
	height: 2rem;
}

.microfon-icon:hover {
	background-color: rgb(161, 161, 161);
} */
