input{
  width: 100%;
  padding-right: 22px;
}
&:after{
  content: "\1F50D";
  position: absolute;
  right: .5rem;
  top: 50%;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}
.table-add-btn{
  background: #00ff3c;
  border-radius: 4px;
  height: 20px;
  width: 30px;
}
.contact-list{
  width: 90%;
  max-width: 570px;
}