<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button id="start">start</button>
  <button id="stop">stop</button>
  
  <br />
  <br />
  
  <audio src="" id="player" controls=""></audio>
  
  <script type="text/javascript" charset="UTF-8">
    window.onload = function() {
      let start = document.querySelector('#start');
      let stop = document.querySelector('#stop');
      let audio = document.querySelector('audio');
      let chunks = [];
      let blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });
      let mediaRecorder;
    
      navigator.getUserMedia = (navigator.getUserMedia || 
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        navigator.webkitGetUserMedia
        );
      if (navigator.getUserMedia) {
    
        start.onclick = function () {
          let constraints = { audio: true };
            navigator.getUserMedia(constraints, onSuccess, onError);
          };
          
        stop.onclick = function () {
          mediaRecorder.stop();
          start.disbled = false;
        };
    
        let onError = function(err) {
          console.log('The following error occured: ' + err)
        };
        
        let onSuccess = function(stream) {
          mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();
          start.disabled = true;
          
          mediaRecorder.onstop = function(e) {
            let blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus'})
            let audioURL = window.URL.createObjectURL(e.data);
            audio.src = audioURL;
            console.log('recorder stopped')
            chunks = [];
            
          }
          
          mediaRecorder.ondataavailable = function(e) {
            let blob = new Blob([e.data], { 'type' : 'audio/ogg; codecs=opus'})
            let audioURL = window.URL.createObjectURL(e.data);
            audio.src = audioURL;
            
          }
        }
      }  
    }
  </script>
</body>
</html>